body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-image: url(img/light_noise_diagonal_@2X.png);
    background-repeat: repeat;
}

header #logo {
    margin: auto;
    width: 600px;
    margin-top: 50px;
    text-align: center;
    font-size: 4.4em;
    font-weight: 700;
    text-transform: uppercase;
    color: #DD0000;
    text-decoration: underline #DD0000;
}

nav #main-nav {
    position: relative;
    list-style-type: none;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0px;
    margin-top: 40px;
    border-top: 1px solid #C8C8C8;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(200, 200, 200, 0.8);
    -moz-box-shadow: 0px 4px 5px 0px rgba(200, 200, 200, 0.8);
    box-shadow: 0px 4px 5px 0px rgba(200, 200, 200, 0.8);
    background-color: #FFFFFF;
}

nav #main-nav li {
    display: inline-block;
    text-align: center;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #CC0000;
    /*    Arrow position is relative to "a" element*/
    position: relative;
    top: 20px;
    left: 0;
    opacity: 0;
}


/*///////////////////////styles for links in main-nav li/////////////////////////*/

nav #main-nav li a {
    color: #3f3f3f;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px 20px 10px 20px;
    display: block;
}

nav #main-nav li a:visited {}

nav #main-nav li a:hover {
    background-color: #CC0000;
    color: #FFFFFF;
    transition: 1s background-color;
}

nav #main-nav li a:hover .arrow-down {
    opacity: 1;
    transition: 1s opacity;
}



/*////////Display submenu when hovering over one of the main menu li item/////////////*/

nav #main-nav li:hover .mens-container-ol {
    display: block;
    
}

av #main-nav li:hover .mens-container-ol:hover {
    display: block;
    
}

nav #main-nav li:hover .womens-container-ol {
    display: block;
    
}
nav #main-nav li:hover .kids-container-ol {
    display: block;
    
}
nav #main-nav li:hover .sport-container-ol {
    display: block;
    
}
nav #main-nav li:hover .colection-container-ol {
    display: block;
    
}
nav #main-nav li:hover .sale-container-ol {
    display: block;
    
}
/*///////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////mens dropdown styles////////////////////////*/

.mens-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.mens-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li .mens-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li .mens-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////*/


/*//////////////////////////womens dropdown styles////////////////////////*/

.womens-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.womens-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li ol.womens-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li ol.womens-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////kids dropdown styles////////////////////////*/

.kids-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.kids-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li ol.kids-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li ol.kids-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////sport dropdown styles////////////////////////*/

.sport-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.sport-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li ol.sport-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li ol.sport-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////colection dropdown styles////////////////////////*/

.colection-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.colection-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li ol.colection-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li ol.colection-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////sale dropdown styles////////////////////////*/

.sale-container-ol {
    position: absolute;
    top: 110px;
    left: 344px;
    display: none;
}

nav #main-nav li ol.sale-first-ol {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

nav #main-nav li ol.sale-second-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 200px;
}

nav #main-nav li ol.sale-third-ol {
    padding: 0;
    position: absolute;
    top: 0;
    left: 400px;
}


/*//////////////////////////////////////////////////////////////////////*/

nav #main-nav li ol li:first-child {
    color: #CC0000;
    border-bottom: 2px solid #c8c8c8;
}

nav #main-nav li ol li {
    list-style-type: none;
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    color: #3f3f3f;
}